* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  border: 1rem solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.logo {
  border: 1rem solid brown;
  width: 5rem;
  height: 5rem;
  /* margin-right: auto; */
}

.login {
  border: 1rem solid gray;
  width: 5rem;
  height: 5rem;
  margin-left: auto;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  border: 1rem solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  border: 1rem solid blue;
}

.new-add {
  border: 1rem solid cyan;
}

.footer {
  border: 1rem solid green;
}
